body {
	background-image: url(sfondo.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #FFFFCC;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #CC0099;
	background-attachment: fixed;

}
header {
	background-color: #FFFF99;
}
.header {
	background-color: #FF99CC;
}
.grass {
	font-weight: bold;
	color: #CC0099;
	background-color: #FFCC66;
	text-align: center;
	border: 1px dashed #FF99CC;


}
.tabella {
	border: 1px dashed #FF99CC;
}
a:link {
	color: #9933CC;
}
a:active {
	color: #9933CC;
}
a:visited {
	color: #9933CC;
}
a:hover {
	color: #FFCC00;
}
