body {
	background-image: url(sfondo.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	background-color: #999900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E4FFD5;
}
header {
	background-color: #669900;
}
.header {
	background-color: #006600;
}
.grass {
	font-weight: bold;
	color: #999900;
	background-color: #333300;
	text-align: center;
	border: 1px double #999900;


}
.tabella {
	border: 1px dotted #333300;
}
a:link {
	color: #B8D555;
}
a:active {
	color: #B8D555;
}
a:visited {
	color: #B8D555;
}
a:hover {
	color: #FFFFFF;
}
