<HTML>
<HEAD>
   <TITLE>Scheda <?PRBM subst scheda.tipo?></TITLE>
</HEAD>

<STYLE TYPE="text/css">
   <!--
      a:link {text-decoration: none}
      a:active {text-decoration: none}
      a:visited {text-decoration: none}
      a:hover {text-decoration: underline; color: #FF0000}
   -->
</STYLE>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#009900" VLINK="#009900" ALINK="#009900">

<!-- Intestazione -->
<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="4" WIDTH="100%">
   <TR>
      <TD BGCOLOR="#009900">
         <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0">
           <TR>
               <TD><IMG ALT="Logo del tipo scheda" BORDER="0" WIDTH="64" HEIGHT="64" HSPACE="8" VSPACE="8" SRC="<?PRBM subst scheda.ico.src?>"></TD>
               <TD><FONT FACE="Verdana, Arial, Helvetica, sans-serif" COLOR="#FFFFFF" SIZE="+4"><I><B><?PRBM subst scheda.tipo?></B></I></FONT></TD>
            </TR>
         </TABLE>
      </TD>
   </TR>
</TABLE>

<!-- Corpo della scheda -->
<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="16" WIDTH="100%">
   <TR>

      <!-- Inizio colonna di sinistra -->
      <TD BGCOLOR="#CCFFCC" WIDTH="30%" VALIGN="TOP" ALIGN="CENTER">
         <?PRBM if scheda.immagine?>  
         <P><IMG SRC="<?PRBM subst scheda.immagine.src?>" ALT="<?PRBM subst scheda.didascalia?>" BORDER="0" <?PRBM calc_dim scheda.immagine.dimensioni(240, 192)?>><BR>
         <FONT SIZE="-1"><?PRBM subst scheda.didascalia?></FONT></P>
	 <?PRBM endif scheda.immagine?>
         <?PRBM if scheda.imgtracce?>  
         <P><IMG SRC="<?PRBM subst scheda.imgtracce.src?>" BORDER=0 <?PRBM calc_dim scheda.imgtracce.dimensioni(240, 192)?>><BR>
         <FONT SIZE=-1>Descrizione di tracce e/o segni di presenza</FONT></P>
         <?PRBM endif scheda.imgtracce?>  
         <?PRBM if scheda.imgescrementi?>  
         <P><IMG SRC="<?PRBM subst scheda.imgescrementi.src?>" BORDER=0 <?PRBM calc_dim scheda.imgescrementi.dimensioni(240, 192)?>><BR>
         <FONT SIZE=-1>Descrizione Escrementi</FONT></P>
         <?PRBM endif scheda.imgescrementi?>
	 <center>
         <?PRBM if scheda.audio?>
         <a href="<?PRBM subst scheda.audio.src?>"><img src="immagini/audio.gif" border=0></a>
         <?PRBM endif scheda.audio?>
         <?PRBM if scheda.video?>
         <a href="<?PRBM subst scheda.video.src?>"><img src="immagini/video.gif" border=0></a>
	 <?PRBM endif scheda.video?>
	 &nbsp;</center>
      </TD>
      <!-- Fine colonna di sinistra -->

      <!-- Inizio colonna di destra -->
      <TD WIDTH="70%" VALIGN="TOP">

         <!-- Tabella per Titolo -->
         <TABLE BORDER="0" CELLPADDING="0" WIDTH="100%">

            <!-- Linea Titolo -->
            <TR><TD>
               <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="+2"><?PRBM subst scheda.didascalia?></FONT><BR>
               <HR WIDTH="100%" COLOR="#009900" NOSHADE ALIGN="LEFT">
            </TD></TR>

        <!-- Linea Data e Ora rilevazione -->
	    <?PRBM if scheda.dataora?>
            <TR><TD ALIGN="RIGHT">
               <FONT SIZE="-1"><B><?PRBM subst scheda.dataora.value?></B></FONT>
            </TD></TR>
	    <?PRBM endif scheda.dataora?>
         </TABLE>

         <!-- Tabella per i vari elementi di testo -->
         <TABLE BORDER="0" CELLPADDING="8" CELLSPACING="4">

            <?PRBM if scheda.nomeComune?>
	    <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Nome Comune<BR></FONT></B>
	       <?PRBM subst scheda.nomeComune.value?></TD>
            </TR>
	    <?PRBM endif scheda.nomeComune?>
            <?PRBM if scheda.nomeScientifico?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Nome Scientifico<BR></FONT></B>
	       <?PRBM subst scheda.nomeScientifico.value?></TD>
            </TR>
	    <?PRBM endif scheda.nomeScientifico?>
            <?PRBM if scheda.desAnimale?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Descrizione dell'Animale<BR></FONT></B>
	       <?PRBM subst scheda.desAnimale.value?></TD>
            </TR>
	    <?PRBM endif scheda.desAnimale?>
            <?PRBM if scheda.dimensioni?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Dimensioni<BR></FONT></B>
	       <?PRBM subst scheda.dimensioni.value?></TD>
            </TR>
	    <?PRBM endif scheda.dimensioni?>
            <?PRBM if scheda.corteggiamento?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Corteggiamento e riproduzione<BR></FONT></B>
	       <?PRBM subst scheda.corteggiamento.value?></TD>
            </TR>
	    <?PRBM endif scheda.corteggiamento?>
            <?PRBM if scheda.prole?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">I piccoli e l'accudimento della prole<BR></FONT></B>
	       <?PRBM subst scheda.prole.value?></TD>
            </TR>
	    <?PRBM endif scheda.prole?>
            <?PRBM if scheda.alimentazione?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Alimentazione<BR></FONT></B>
	       <?PRBM subst scheda.alimentazione.value?></TD>
            </TR>
	    <?PRBM endif scheda.alimentazione?>
            <?PRBM if scheda.catena?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Posizione nella catena alimentare<BR></FONT></B>
	       <?PRBM subst scheda.catena.value?></TD>
            </TR>
	    <?PRBM endif scheda.catena?>
            <?PRBM if scheda.tane?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Tane, nidi, rifugi, ...<BR></FONT></B>
	       <?PRBM subst scheda.tane.value?></TD>
            </TR>
	    <?PRBM endif scheda.tane?>
            <?PRBM if scheda.caccia?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Tecniche d'attacco, di difesa e di mimetismo<BR></FONT></B>
	       <?PRBM subst scheda.caccia.value?></TD>
            </TR>
	    <?PRBM endif scheda.caccia?>
            <?PRBM if scheda.habitat?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Habitat tipico<BR></FONT></B>
	       <?PRBM subst scheda.habitat.value?></TD>
            </TR>
	    <?PRBM endif scheda.habitat?>
            <?PRBM if scheda.distribuzione?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Distribuzione<BR></FONT></B>
	       <?PRBM subst scheda.distribuzione.value?></TD>
            </TR>
	    <?PRBM endif scheda.distribuzione?>
            <?PRBM if scheda.territorialita?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Territorialit&agrave;<BR></FONT></B>
	       <?PRBM subst scheda.territorialita.value?></TD>
            </TR>
	    <?PRBM endif scheda.territorialita?>
            <?PRBM if scheda.curiosita?>
            <TR>
               <TD VALIGN="TOP"><IMG WIDTH="32" HEIGHT="32" SRC="immagini/campo.gif"></TD>
               <TD><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif">Curiosit&agrave;<BR></FONT></B>
	       <?PRBM subst scheda.curiosita.value?></TD>
            </TR>
	    <?PRBM endif scheda.curiosita?>



         </TABLE>

      <!-- Fine colonna di destra -->
      </TD>
   </TR>
</TABLE>

<!-- Barra dei comandi inferiore -->
<TABLE CELLSPACING="2" CELLPADDING="4" BORDER="0" WIDTH="100%">
   <TR>
      <TD BGCOLOR="#009900" ALIGN="CENTER">
         <A HREF="index.html"><FONT COLOR="#FFFFFF">Ritorna al tracciato</FONT></A>
      </TD>
   </TR>
</TABLE>

</BODY>
</HTML>
